# Gmail Configuration
GMAIL_USER=bayou.biz.25@gmail.com
GMAIL_APP_PASSWORD=gtrn abar bsqd jfrl

# Google Sheets Configuration
GOOGLE_SERVICE_ACCOUNT_KEY=./service-account-key.json
GOOGLE_SHEET_ID=1RLsUZjqEcMdbpdV-wUn5u7NWXazSSCaZfYkOdfkEZJA

https://docs.google.com/spreadsheets/d/1RLsUZjqEcMdbpdV-wUn5u7NWXazSSCaZfYkOdfkEZJA/edit?usp=sharing
# Server Configuration
PORT=5000
NODE_ENV=development
